aiohttp==2.3.10
aiohttp-jinja2==0.15.0
aiopg==0.13.2
alembic==0.9.8
async-timeout==2.0.0
chardet==3.0.4
GeoAlchemy2==0.4.2
idna==2.6
idna-ssl==1.0.0
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
multidict==4.1.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
python-dateutil==2.6.1
python-editor==1.0.3
six==1.11.0
SQLAlchemy==1.2.3
WTForms==2.1
yarl==1.1.1
