{% extends 'admin/base.html' %}

{% block title %}Администрирование водителей{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="/admin/">Администрирование</a></li>
  <li class="breadcrumb-item active" aria-current="page">Список водителей</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm">
      <h5>Администрирование сервиса</h5>
      <a href="{{ url("admin-drivers-add") }}"
         class="btn btn-primary btn-sm pull-right">Добавить нового водителя</a>
      <br/>
      <br/>
      <table class="table ">
        <tr>
          <th>ID</th>
          <th>ФИО</th>
          <th>Опыт</th>
          <th>Статус</th>
        </tr>
        {% for driver in drivers %}
          <tr>
            <td>{{ driver.id }}</td>
            <td>
              <a href="{{ url('admin-drivers-update', pk=driver.id) }}">
                {{ driver.last_name }}&nbsp;{{ driver.first_name }}&nbsp;{{ driver.middle_name }}
              </a>
            </td>
            <td>{{ driver.experience }}</td>
            <td>{% if driver.is_active %}Активный{% else %}
              Неактивный{% endif %}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}