{% extends 'admin/base.html' %}
{#{% load wtforms %}#}

{% block title %}Администрирование водителей{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{{ url('admin') }}">Администрирование</a></li>
  <li class="breadcrumb-item"><a href="{{ url('admin-drivers') }}">Список водителей</a></li>
  <li class="breadcrumb-item active" aria-current="page">
  {% if instance %}{{ instance.last_name }}&nbsp;{{ instance.first_name.0 }}.&nbsp;{{ instance.middle_name.0 }}.{% else %}{% endif %}
  </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm">
      <h5>
        Администрирование сервиса&nbsp;
        <small class="text-muted">изменить данные водителя</small>
      </h5>
      {% if instance %}
        <form method="post">
          {% for field in form %}
            <div>{{ field.label }}: {{ field(class="form-control") }}</div>
          {% endfor %}
        <hr/>
        <input type="submit" class="btn btn-success">
        </form>
    {% else %}
      <div class="alert alert-danger">По Вашему запросу ничего не найдено</div>
    {% endif %}
    </div>
  </div>
{% endblock %}