{% extends 'admin/base.html' %}
{#{% load wtforms %}#}

{% block title %}Администрирование водителей{% endblock %}

{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script type="text/javascript">
      {% for item in select2 %}
          (function () {
              $('#{{ item.field }}').hide().after('<select class="form-control" id="{{ item.field }}-select2"></select>');
              var select = $("#{{ item.field }}-select2");
              $(select).append('<option value="' + $('#{{ item.field }}').val() + '">'+ $('#{{ item.field }}').val() + '</option>');
              $(select).val($('#{{ item.field }}').val());
              var select2_{{ item.field }} = $('#{{ item.field }}-select2').select2({
                  ajax: {
                      url: '{{ item.url }}',
                      data: function (params) {
                          var query = {
                              search: params.term,
                              fields: {{ item.fields|safe }}
                          };
                          return query;
                      },
                      processResults: function (data) {
                          console.log(data);
                          return data;
                      }
                  }
              });
              select2_{{ item.field }}.on('change', function () {
                  $('#{{ item.field }}').val(this.value);
              })
          }());
      {% endfor %}
  </script>
{% endblock %}

{% block css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
        rel="stylesheet"/>
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a
          href="{{ url('admin') }}">Администрирование</a></li>
  <li class="breadcrumb-item"><a
          href="{{ list_view_url }}">{{ verbose_name_plural }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">Редактирование
    "{{ verbose_name }}"
  </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm">
      <h5>Администрирование сервиса</h5>
      <form method="post">
        {% for field in form %}
          <div>{{ field.label }}: {{ field(class="form-control") }}</div>
        {% endfor %}
        <hr/>
        <input type="submit" class="btn btn-success">
        {% if delete_url %}
          <a class="btn btn-warning" href="{{ delete_url }}">Удалить</a>
        {% endif %}
      </form>
      {% block after_form %}{% endblock %}
    </div>
  </div>
{% endblock %}