{% extends 'admin/base.html' %}

{% block title %}Администрирование{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">Администрирование</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm">
      <h5>Администрирование сервиса</h5>
      <ul>
        <li><a href="{{ url('admin-drivers') }}">Водители</a></li>
        <li><a href="{{ url('admin-drivers') }}">Маршруты</a></li>
        <li><a href="{{ url('admin-drivers') }}">Транспорт</a></li>
        <li><a href="{{ url('admin-drivers') }}">Остановочные комплексы</a></li>
      </ul>
    </div>
  </div>
{% endblock %}