{% extends 'admin/form-view.html' %}

{% block js %}
  {#  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>#}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
          integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
          crossorigin=""></script>
  <script type="application/javascript">
      var map, market;
      function loadMap() {
          map = L.map('demoMap', {center: [51.505, 0.09], zoom: 10});
          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ2V0ZnJlc2hiYWtlZCIsImEiOiJjaXBzbjdoZGUwM3oxZnZtMmltazJ0eHU4In0.B9Vu_0d7ZJlCXfwP5V_s5A', {
              maxZoom: 20,
              attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
              id: 'mapbox.streets'
          }).addTo(map);
          marker = L.marker({lat:0, lng: 0}).addTo(map);
          $('#coord').parent().parent().hide();
          if ('{{ instance.position }}') {
              var tmp = '{{ instance.position }}';
              {#marker.setLatLng(JSON.parse($('#coord').val()));#}
              {#map.setView(marker.getLatLng());#}
          }
      }

      function clearPath() {
          if (directionMap[currentDirection][1])
              directionMap[currentDirection][1].setLatLngs([]);
          $(directionMap[currentDirection][0]).val('[]');
      }

      window.onload = loadMap;
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm">
      <h5>Администрирование сервиса</h5>
      <form method="post">
        {% for field in form %}
          <div class="row">
            <div class="col-sm">
              {{ field.label }}: {{ field(class="form-control") }}
            </div>
          </div>
        {% endfor %}
        <div class="row">
          <div class="col-sm">
            <div id="demoMap" style="margin: 20px 0; height: 300px">
            </div>
          </div>
        </div>
        <input type="submit" class="btn btn-success">
        {% if delete_url %}
          <a class="btn btn-warning" href="{{ delete_url }}">Удалить</a>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}